/**
 * colors
 */
$color-base: #000;
$color-electric-red: #ed0000;
$color-st-patrick-blue: #2b3574;
$color-science-blue: #034cca;
$color-french-blue: #0064c3;
$color-butterfly-blue: #39a7e0;
$color-outer-space: #444;
$color-dim-gray: #656565;
$color-granite-gray: #666;
$color-sonic-silver: #797979;
$color-gray: #808080;
$color-dark-gray: #a8a8a8;
$color-silver: #c4c4c4;
$color-chinese-silver: #ccc;
$color-light-silver: #d9d9d9;
$color-chinese-gray: #c8c8c8;
$color-light-gray: #d4d4d4;
$color-bright-gray: #efefef;
$color-cultured: #f7f7f7;
$color-white: #fff;
$color-ghost-white: #f9f9f9;
$color-cosmic-latte: #fffce5;
$color-alabaster-yellow: #f4f1e6;
$color-pineapple: #513104;
$color-vivid-yellow: #ffe400;
$color-corn: #ffef60;
$color-limerick: #9dbf00;

/**
 * box-shadow
 */
$box-shadow-base: 0 1px 2px 0 rgb(0 0 0 / 30%);

/**
 * z-index
 */
// ベース
$z-index-base: 0;
